input{
    float : right;
}

table{
    width : 80%;
    margin-left :10%;
    border: 1px solid;
}

th, td {
    padding : 10px;
}

td{
    text-align: center;
    border : 1px solid;
}

td .firstСolumns{
    width :20%;
}